body {
    background: linear-gradient(#F3F0D7, #CEE5D0);
    font-family: Verdana, sans-serif;
    font-size: 14px;
    color: #463337;  
  }

  hr {
    border-color: #dcc19d;
    border-style: none;
    border-top-style: dotted;
    border-top-width: 5px;
    width:5%;
  }

  h1, h2 {
    color: #115d67;
    font-family: Georgia, serif;
  }

  h3 {
    color: #35838d;
    font-family: Georgia, serif;
  }

  h4, th {
    color: #5E454B;
    font-family: Georgia, serif;
  }